.buttons{
    text-align: center;
}

.space{
    margin: 20px 20px 0 0;
    width: 20%;
    height: 30px;
}

p{
  word-wrap: break-word;
}

.highlight {
  background-color: yellow;
}

button{
  border-radius: 300px;
}

#contenedorTexto{
  padding-left: 10px;
  padding-right:10px;
}

h4,h5{
  text-align: center;
}

#indices{
  text-align: center;
}

*{
  margin-top: 20px;
}
